
.calendar-content {
    display: flex;
    flex-wrap: wrap;
    height: 55vh;
    overflow-y: scroll;
}

.date-navigator {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 2.5vh;
}

.date-navigator>i {
    cursor: pointer;
    margin-left: -15vw;
    font-size: 1.5vw;
}

.c-block {
    border: 1px solid gray;
    height: 9vh;
    width: 9vh;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
}

.c-block:hover {
    background-color: lightgray;
}

.games-row {
    display: flex;
    justify-content: space-around;
    width: 50vw;
    margin-left: 5vw;
}

.game-type {
    border: 1px solid black;
    height: fit-content;
    padding: 0px 30px;
    cursor: pointer;
}

.game-type:hover{
    background-color: lightgray;
}

.calendar-times {
    display: grid;
    overflow-y: scroll;
}

.time {}

.times-table {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 5vh;
}

.calendar-block {
    overflow-y: scroll;
    overflow-x: scroll;
}